body {
  width: 275px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #333;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0;
  border: 0;
}

a.button {
  color: #333;
  background: #fff;
  text-decoration: none !important;
  padding: .75rem .5rem;
  border-radius: .5rem;
  font-weight: bold;
}
